*{
    background-color: rgb(122, 0, 170);
    color: white;
    text-align: center;
}

a {
    font-size: 210%;
}

#lista {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 150%;

    list-style: none;
}

#lista li {
    display: inline-block;
    margin-left: 1%;
}

#resultado {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 150%;

    list-style: none;
}

#resultado li {
    margin-top: 2%;
}